body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 105vh;
    background: linear-gradient(to right, #658eff 0%, #eff847 99%, #fad0c4 100%);
    text-align: center;
}
form input, form button {
    display: block;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
}
body, form input, form button, p, button {
    margin-bottom: 20px; /* これにより、各要素の下に20pxの間隔ができます */
}

p {
    text-align: center;
    font-size: 25px;
}

button {
    text-align: center;
}

h2:before,
h2:after {
    content: "";
    display: block;
    width: 200px;
    height: 4px;
    border-top: 1px solid #111;
    border-bottom: 1px solid #111;
    position: absolute;
    top: 50%;
    margin-top: -2px;
}

h2:before {
    left: -224px;
}

h2:after {
    right: -224px;
}
input[type="submit"]{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 6px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
}
input[type="submit"]:hover{
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

button {
    background-color: #dc9735;
    border: none;
    color: white;
    padding: 15px 62px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1%;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 25%;
}

button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}