body {
    font-family: Arial, sans-serif;
    background-image: url("img/wintry-2915190_1280.png");
    background-size: cover;  /* 背景画像がビューポートに合うようにサイズを調整 */
    background-position: center;  /* 背景画像が中央に配置されるように */
    margin: 0;
    padding: 0;
}


form {
    max-width: 500px;
    margin: 40px auto;
    width: 97%;
    padding: 20px;
    border-radius: 4px;

}

input[type="text"], input[type="number"], textarea, select, input[type="submit"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="submit"] {
    color: #fff;
    background-color: #007BFF;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
